.hero171-header78 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.hero171-column {
  gap: var(--dl-space-space-oneandhalfunits);
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
}
.hero171-content1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.hero171-text1 {
  text-align: center;
}
.hero171-text2 {
  text-align: center;
}
.hero171-content2 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.hero171-row-container1 {
  width: 100%;
}
.hero171-placeholder-image10 {
  width: 400px;
  height: 400px;
  display: flex;
}
.hero171-container10 {
  width: 405px;
}
.hero171-container11 {
  display: contents;
}
.hero171-placeholder-image11 {
  width: 400px;
  height: 400px;
  display: flex;
}
.hero171-container12 {
  width: 405px;
}
.hero171-container13 {
  display: contents;
}
.hero171-placeholder-image12 {
  width: 400px;
  height: 400px;
  display: flex;
}
.hero171-container14 {
  width: 405px;
}
.hero171-container15 {
  display: contents;
}
.hero171-placeholder-image13 {
  width: 400px;
  height: 400px;
  display: flex;
}
.hero171-container16 {
  width: 405px;
}
.hero171-container17 {
  display: contents;
}
.hero171-placeholder-image14 {
  width: 400px;
  height: 400px;
  display: flex;
}
.hero171-container18 {
  width: 405px;
}
.hero171-container19 {
  display: contents;
}
.hero171-placeholder-image15 {
  width: 400px;
  height: 400px;
  display: flex;
}
.hero171-container20 {
  width: 405px;
}
.hero171-container21 {
  display: contents;
}
.hero171-placeholder-image16 {
  width: 400px;
  height: 400px;
  display: flex;
  background-size: cover;
  background-image: url('https://images.unsplash.com/photo-1613379717212-0e243ef8abf7?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTczMDEzMDY4Nnw&ixlib=rb-4.0.3&q=80&w=1080');
  background-position: center;
}
.hero171-container22 {
  width: 405px;
}
.hero171-container23 {
  display: contents;
}
.hero171-placeholder-image17 {
  width: 400px;
  height: 400px;
  display: flex;
  background-size: cover;
  background-image: url('https://images.unsplash.com/photo-1525164286253-04e68b9d94c6?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTczMDEzMDY4NXw&ixlib=rb-4.0.3&q=80&w=1080');
  background-position: center;
}
.hero171-container24 {
  width: 405px;
}
.hero171-container25 {
  display: contents;
}
.hero171-placeholder-image18 {
  width: 400px;
  height: 400px;
  display: flex;
  background-size: cover;
  background-image: url('https://images.unsplash.com/photo-1707227869527-810d5bb37000?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTczMDEzMDY4NHw&ixlib=rb-4.0.3&q=80&w=1080');
  background-position: center;
}
.hero171-container26 {
  width: 405px;
}
.hero171-container27 {
  display: contents;
}
.hero171-placeholder-image19 {
  width: 400px;
  height: 400px;
  display: flex;
  background-size: cover;
  background-image: url('https://images.unsplash.com/photo-1613559729301-94cf5a77fb20?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTczMDEzMDY4Nnw&ixlib=rb-4.0.3&q=80&w=1080');
  background-position: center;
}
.hero171-container28 {
  width: 405px;
}
.hero171-container29 {
  display: contents;
}
.hero171-placeholder-image20 {
  width: 400px;
  height: 400px;
  display: flex;
  background-size: cover;
  background-image: url('https://images.unsplash.com/photo-1685868207364-516b3a59456d?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTczMDEzMDY4Nnw&ixlib=rb-4.0.3&q=80&w=1080');
  background-position: center;
}
.hero171-container30 {
  width: 405px;
}
.hero171-container31 {
  display: contents;
}
.hero171-placeholder-image21 {
  width: 400px;
  height: 400px;
  display: flex;
  background-size: cover;
  background-image: url('https://images.unsplash.com/photo-1534312527009-56c7016453e6?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDIxfHxhYnN0cmFjdHxlbnwwfHx8fDE3MTA4NzA5MzB8MA&ixlib=rb-4.0.3&w=1500');
  background-position: center;
}
.hero171-container32 {
  width: 405px;
}
.hero171-container33 {
  display: contents;
}
.hero171-row-container2 {
  width: 100%;
}
.hero171-placeholder-image22 {
  width: 400px;
  height: 400px;
  display: flex;
}
.hero171-container34 {
  width: 405px;
}
.hero171-container35 {
  display: contents;
}
.hero171-placeholder-image23 {
  width: 400px;
  height: 400px;
  display: flex;
}
.hero171-container36 {
  width: 405px;
}
.hero171-container37 {
  display: contents;
}
.hero171-placeholder-image24 {
  width: 400px;
  height: 400px;
  display: flex;
}
.hero171-container38 {
  width: 405px;
}
.hero171-container39 {
  display: contents;
}
.hero171-placeholder-image25 {
  width: 400px;
  height: 400px;
  display: flex;
}
.hero171-container40 {
  width: 405px;
}
.hero171-container41 {
  display: contents;
}
.hero171-placeholder-image26 {
  width: 400px;
  height: 400px;
  display: flex;
}
.hero171-container42 {
  width: 405px;
}
.hero171-container43 {
  display: contents;
}
.hero171-placeholder-image27 {
  width: 400px;
  height: 400px;
  display: flex;
}
.hero171-container44 {
  width: 405px;
}
.hero171-container45 {
  display: contents;
}
.hero171-placeholder-image28 {
  width: 400px;
  height: 400px;
  display: flex;
}
.hero171-container46 {
  width: 405px;
}
.hero171-container47 {
  display: contents;
}
.hero171-placeholder-image29 {
  width: 400px;
  height: 400px;
  display: flex;
}
.hero171-container48 {
  width: 405px;
}
.hero171-container49 {
  display: contents;
}
.hero171-placeholder-image30 {
  width: 400px;
  height: 400px;
  display: flex;
}
.hero171-container50 {
  width: 405px;
}
.hero171-container51 {
  display: contents;
}
.hero171-placeholder-image31 {
  width: 400px;
  height: 400px;
  display: flex;
}
.hero171-container52 {
  width: 405px;
}
.hero171-container53 {
  display: contents;
}
.hero171-placeholder-image32 {
  width: 400px;
  height: 400px;
  display: flex;
}
.hero171-container54 {
  width: 405px;
}
.hero171-container55 {
  display: contents;
}
.hero171-placeholder-image33 {
  width: 400px;
  height: 400px;
  display: flex;
}
.hero171-container56 {
  width: 405px;
}
.hero171-container57 {
  display: contents;
}
.hero171-container59 {
  display: contents;
}
.hero171-text3 {
  display: inline-block;
}
.hero171-text4 {
  display: inline-block;
}
@media(max-width: 767px) {
  .hero171-content2 {
    width: 100%;
  }
}
